body {
	font-family: 'Open Sans', sans-serif;
}

.button1 {
width:30%;
text-align: center;
 margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.img1 {
width:30%;
text-align: center;
 margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }